
<div class="new_upperBar">
  <div class="dropdown">
    <span id="logo"><img src="/assets/iconMenu.svg" alt="this is an menu opening icon" id="menu_button">&nbsp;<a href="/" id="logo-link">articlemoose.co.uk</a></span>
    <div class="dropdown-content">
      <a href="/coding-skills">Most Sought Coding Skills</a>
      <a href="/python-constructor">Using or not using Constructor in Python Classes</a>
      <a href="/deploying-nodejs">How to put node.js file into your website</a>
      <a href="/python-pie">How to make a pie in Python (Pygal&Lxml)</a>
      <a href="/broken-image-nodejs">Broken Images? How to load images with node.js</a>
    </div>
    <img src="/assets/iconHome.svg" alt="this is a homepage icon" id="home_button">
  </div>



</div>
<div class="new_colorBar">
  <span id="color1"></span>
  <span id="color2"></span>
  <span id="color3"></span>
  <span id="color4"></span>
</div>
