<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>
    <div class="new_main">
      <p>HOW TO MAKE A DELICIOUS PIE USING PYTHON?</p>
    </div>

  </body>
</html>
