<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>

    <div class="new_main">
      <h1>website this time again server with EJS</h1>
      <h2>WELCOME TO WEBSITE dudeeeeee</h2>
      <p>YOU HAVE SUCCCESSFULLY SUBMITTED INFORMATION</p>
      <p>Your beautiful name: <%= personal_data.input1 %></p>
    </div>


  </body>
</html>
