<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NODE JS GOING FINE</title>
    <style media="screen"></style>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>website served with EJS</h1>
    <h2>welcome </h2>
    <p>CONGRATULATIONS, GET RICH OR DIE TRYING</p>
    <a href="/coding-skills">coding skills page, will it open?????</a>
  </body>
</html>
