<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NODE JS GOING FINE</title>
    <style media="screen">
      body {
        background-color: lightGreen;
        font-family: verdana;
        text-align: center;
      }
      h1 {
        color: red;
        font-size: 500;
        text-shadow:
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff;
      }
      p {
        font-size: 300;
        color: blue;
      }
    </style>
  </head>
  <body>
    <h1>website served with EJS</h1>
    <h2>welcome </h2>
    <p>CONGRATULATIONS, GET RICH OR DIE TRYING</p>
  </body>
</html>
