@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /*Lobster*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');/*Maven Pro*/

@media screen and (min-width: 961px) {
  html {
    height: 100%;
    width: 100%;
    background-color: white;
  }

  body {
    padding: 0;
    margin: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new_upperBar{
    width:100%;
    background-color: lightBlue;
    height: 9vh;
    display: flex;
    flex-direction: row;
    display: block;
  }
  .new_colorBar{
    width:100%;
    background-color: red;
    height: 1vh;
    margin-bottom:7px;
    display: flex;
    flex-direction: row;
    display: block;
  }
  .new_colorBar #color1{
    flex-basis: 25%;
    background-color: #00cc00;
  }
  .new_colorBar #color2{
    flex-basis: 25%;
    background-color: #ff0000;
  }
  .new_colorBar #color3{
    flex-basis: 25%;
    background-color: #0000ff;
  }
  .new_colorBar #color4{
    flex-basis: 25%;
    background-color: #ffff00;
  }


  .new_main{
    background-color: white;
    font-family: "Maven Pro";
    padding: 12px;
    font-size: 20px;
    width: 80%;
    border: none;
    outline: none;
    box-shadow:
      0 -6px white,
      0 6px white,
      -15px 0 4px -3px #9ecaed,
      15px 0 4px -3px #9ecaed;
  }
  #logo-link {
    text-decoration: none;
    color: black;
  }
  #logo {
    margin-left: 20px;
    font-size: 40px;
    font-family: "Lobster";
    text-shadow:
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
  }

  .dropdown{
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-family: "Maven Pro";
    font-size: 16px;
  }

  .dropdown-content{
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    position: absolute;
    z-index: 1;
    display: none;
    margin-left: 15px;
    border-bottom: solid 6px lightBlue;
    margin-bottom: 0;
  }
  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border:solid 1px lightBlue;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #00b362;
  }


  /*TABLE SECTION IN CODING-SKILLS*/
  .content-table{
    border-collapse: collapse;
    margin:25px 0;
    font-size: 0.99em;
    min-width: 400px;
  }
  .content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    overflow: hidden;/*If we dont set this, border radius might not work sub cell*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .content-table th, .content-table td {
    padding: 12px 15px;
  }
  .content-table tbody tr{
    border-bottom: 1px solid #dddddd;
  }
  /*here we target all rows except the ones with even number*/
  .content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
  }
  /**here we target last row, to change its bottom border properties*/
  .content-table tbody tr:last of type {
    border-bottom: 2px solid #009879;
  }
  .content-table tbody tr:hover {
    background-color: #00b362;
    cursor: pointer;
  }
}
