body {
  background-color: lightGreen;
  font-family: verdana;
  text-align: center;
}
h1 {
  color: red;
  font-size: 500;
  text-shadow:
  -2px -2px 0 #ffffff,
  2px -2px 0 #ffffff,
  -2px 2px 0 #ffffff,
  2px 2px 0 #ffffff;
}
p {
  font-size: 300;
  color: blue;
}
