<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
<body>

  <div class="new_upperBar">
    <span id="logo"><a href="/pages/coding-skills" id="logo-link">eumaps.org</a></span>
  </div>

  <div class="new_main">

    <div id="pageContent">
      <div id="articlesPage">
        <div id="codingPage">
          <h1>MOST SOUGHT CODING SKILLS</h1>
          <p>Most in-demand coding skills based on job advertisements on <a href="https://stackoverflow.com/jobs">stackoverflow</a> as of June 6, 2021 </p>
          <p>These coding skills are mentioned either as an <strong>advantage</strong> for the job or as a <strong>requirement</strong> </p>
          <nav>
            <ul>
              <li><a href="/coding-skills">Homepage</a></li>
              <li><a href="/test">test</a></li>
            </ul>
          </nav>
        </div>


      </div>
    </div>


  </div>

</body>
</html>
